<div class="container">
    <div class="header">
        <a href="">
            <h1 class="header__image">
                <img src="./assets/images/logo.svg" alt="" class="header__brand">
            </h1>
        </a>
        <div class="header__link">
            <a href="" class="link-item">لماذا ادارة؟</a>
            <a href="" class="link-item">الخصائص</a>
            <a href="" class="link-item">الاسعار</a>
            <a href="" class="link-item">المدونة</a>
            <a href="" class="link-item link-item--button">طلب عرض توضيحى</a>
        </div>
    </div>
</div>
<hr class="header__break-line">
<div class="container">
    <div class="row justify-content-between align-items-center">
        <div class="main-header col-8">
            <a href="" class="main-header__link">الرئيسية</a>
            <a href="" class="main-header__link">تكنولوجيا</a>
            <a href="" class="main-header__link">ريادة أعمال</a>
            <a href="" class="main-header__link">جديد إدارة</a>
            <a href="" class="main-header__link">قصص العملاء</a>
            <a href="" class="main-header__link">جميع المقالات</a>
        </div>
        <div class="search-form">
            <form class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                    <div class="d-flex">
                        <input type="text" matInput [matAutocomplete]="auto" placeholder="ابحث في المقالات">
                        <mat-icon class="material-icons-outlined">
                            search
                        </mat-icon>
                    </div>
                    <mat-autocomplete #auto="matAutocomplete">
                    </mat-autocomplete>
                </mat-form-field>
            </form>
        </div>
    </div>
</div>