.header__brand {
  max-width: 150px;
  width: 150px;
  height: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-base);
}

.header__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-item {
  font-size: var(--font-size-base);
  color: var(--color-secondary);
  margin-left: var(--space-xl);
}

.link-item:last-child {
  margin-left: var(--space-none);
}

.link-item:hover {
  color: var(--color-primary);
  text-decoration: none;
}

.link-item--button {
  background-color: var(--color-yellow);
  padding: var(--space-s) var(--space-m);
  border-radius: var(--border-radius-rounded);
}

.link-item--button:hover {
  color: var(--color-secondary);
  opacity: .7;
}

.header__break-line {
  border-top: 1px solid var(--color-black-3);
}

.main-header {
  .mat-tab-nav-bar, .mat-tab-header {
    border: none;
  }
  .mat-tab-label-active {
    color: var(--color-primary);
    border: none;
  }
  .mat-tab-label {
    padding: var(--space-none) var(--space-base);
    width: auto;
    min-width: auto;
    opacity: 1;
  }
  .mat-tab-label-content {
    color: var(--color-secondary);
  }
}

.search-form {
  .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: var(--border-radius-soft);
    background: none;
    padding: var(--space-none);
  }
  .mat-form-field-appearance-fill .mat-form-field-infix {
    padding-top: var(--space-none);
  }
  .mat-form-field-infix {
    width: auto;
  }
  .mat-input-element {
    min-width: 300px;
  }
  .mat-input-element::placeholder {
    color: var(--color-secondary);
    font-weight: 500;
  }
}