<div class="post">
    <img src="./assets/images/post.png" alt="" class="post__image">
    <div class="post__content">
        <div class="margin-bottom-s">
            <span class="post__tag background-green">تكنولوجيا</span>
            <span class="post__tag background-green">ريادة أعمال</span>
        </div>
        <a href="" class="post__link">
            <h1 class=" post__title">أنواع الفواتير الإلكترونية</h1>
        </a>
        <div>
            <span class="post__time">9</span>
            <span class="post__time-text">دقائق للقراءة</span>
        </div>
    </div>
</div>